.table-movies {
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #eee;
  list-style-type: none;

  &__item {
    padding: 10px 0;

    #date-td {
      width: 200px;
      text-align: center;
    }

    #comment-td {
      width: 450px;
      padding: inherit;
    }

    .item-td {
      &__img {
        width: 20px;
        height: 20px;
      }

      &__btn {
        padding: 5px;
      }
    }
  }
}
